#trainedVoice_list--content {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr 1.5fr 0.5fr;
  row-gap: 10px;
}

.play_arrow_icon {
  color: #7E30E1;
  cursor: pointer;
}

#trainedVoice_list--content div {
  text-align: center;
}


#trainedVoice_list--pagination {
  display: flex;
  justify-content: center;

  margin: 30px 0 50px 0;
}

#trainedVoice_list--pagination .page-btn {
  margin: 0 3px;
  width: 30px;
  height: 30px;

  line-height: 30px;
  text-align: center;

  font-size: 15px;
  border:1px solid #7E30E1;
  background-color: white;
  color: #332C5C;

  cursor: pointer;
}

#trainedVoice_list--pagination .prev-btn,
#trainedVoice_list--pagination .next-btn {
  margin: 0 5px;
  padding:0 10px;

  height: 30px;

  line-height: 30px;
  text-align: center;

  font-size: 15px;

  color:#332C5C;
  background-color: #F5F3FF;
  border: 1px solid #7E30E1;

  cursor: pointer;
}